@tailwind base;
@tailwind components;
@tailwind utilities;
/* assets/css/main.css */
.nuxtui-btn {
  @apply
    focus:outline-none
    disabled:cursor-not-allowed
    disabled:opacity-75
    aria-disabled:cursor-not-allowed
    aria-disabled:opacity-75
    flex-shrink-0
    font-medium
    rounded-md
    text-sm
    gap-x-1.5
    px-2.5
    py-1.5
    shadow-sm
    text-white
    dark:text-gray-900
    bg-blue-500
    hover:bg-blue-600
    disabled:bg-blue-500
    aria-disabled:bg-blue-500
    dark:bg-blue-400
    dark:hover:bg-blue-500
    dark:disabled:bg-blue-400
    dark:aria-disabled:bg-blue-400
    focus-visible:outline
    focus-visible:outline-2
    focus-visible:outline-offset-2
    focus-visible:outline-blue-500
    dark:focus-visible:outline-blue-400
    inline-flex
    items-center;
}
